.gallery-list {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement le contenu */
}

.gallery-items {
    display: grid;
    gap: 30px;
    justify-content: center; /* Centre les colonnes dans la grille */
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); /* Grille fluide */
    width: 100%;
    max-width: 500px; /* Plus large si tu veux plus d’éléments par ligne */
    z-index:1;
}

.logo-box {
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* centre horizontalement */
    justify-content: center; /* centre verticalement si besoin */
    text-align: center;
}

.logo-image {
    width: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 0.5rem;
}

.logo-text {
    font-size: 1rem;
}
