/* Police personnalisée */
@font-face {
    font-family: "akzidenz-grotesk";
    src: url("https://use.typekit.net/af/9d033e/000000000000000000013633/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"), url("https://use.typekit.net/af/9d033e/000000000000000000013633/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"), url("https://use.typekit.net/af/9d033e/000000000000000000013633/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
    font-style: normal;
    font-weight: 500;
}

/* Fond par défaut et application de la police */
html, body {
    background-color: #4801FF;
    font-family: "akzidenz-grotesk", Arial, sans-serif; /* Applique la police */
    margin: 0;
    margin-top: 50px; /* Décale tout le contenu sous la navbar */
    color: #000; /* Couleur du texte en blanc pour un bon contraste */
    overflow-x: hidden;
}

body {
    overflow: hidden;
}
/* Exemple de style pour les titres et autres éléments */
h1, h2, h3, p, .menu-item {
    font-family: "akzidenz-grotesk", Arial, sans-serif; /* Applique la police à tous les éléments de texte */
    color: #000; /* Texte en blanc */
}

.image-wrapper {
    position: relative;
    display: inline-block;
    width: 100%; /* Adapte à la largeur de l'écran */
}

.background-image {
    width: 100%;
    pointer-events: none;
}

.coffee-image {
    position: absolute;
    top: 5%;
    left: 25%;
    width: 15%; /* Ajuste selon la taille de l'écran */
    max-width: 11%;
    z-index: 2;
}

.pc-image {
    position: absolute;
    top: 15.5%;
    left: 25.5%;
    width: 100%;
    max-width: 51%;
    z-index: 1;
}

@media (max-width: 768px) {
    .coffee-image {
        width: 11%;
    }

    .pc-image {
        width: 50%;
    }
}
