/* Style général du footer */
.footer {
    background: rgba(0, 0, 0, 0.8);
    padding: 15px 0;
    text-align: center;
    transition: opacity 0.5s ease-out;
    z-index: 50;
    position: absolute;
}

/* Footer fixe pour la page "projectdetail" */
.fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Footer relatif pour les autres pages */
.relative-footer {
    background: transparent;
    position: relative;
    width: 100%;
}

/* Conteneur du footer */
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* Espace entre la gauche et la droite */
    align-items: center;
    padding: 0 20px;
}

/* Section de gauche */
.footer-left {
    flex: 1;
    text-align: left;
}

    .footer-left h2 {
        margin: 0;
        font-size: 20px;
    }

    .footer-left p {
        font-size: 14px;
        margin: 5px 0 0;
    }

/* Section de droite */
.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; /* Aligner à gauche */
    width: auto;
    min-width: 150px;
    padding-right: 20px;
}

    .footer-right a {
        text-decoration: none;
        font-size: 14px;
        transition: color 0.3s ease;
        color: white;
    }

        .footer-right a:hover {
            color: #a5b4fc;
            text-decoration: underline;
        }

/* Responsive pour mobile */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-left, .footer-right {
        flex: none;
        text-align: center;
    }

    .footer-right {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
}
