.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Prend toute la largeur de l'écran */
    height: 120px;
    background: #0d0420;
    display: flex;
    justify-content: space-between;
    justify-content: center; /* Centre horizontalement les éléments */
    align-items: center; /* Centre verticalement les éléments */
    overflow: hidden;
    z-index: 50;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar-logo {
    width: 120px; /* Ajuste la taille selon ton design */
    height: 100px; /* Pour garder les proportions */
    background-image: url('/src/assets/navbar/logo_classique_white.png'); /* Ajout de l'image du logo */
    background-size: contain; /* Assure que l'image est bien contenue dans le div */
    background-repeat: no-repeat;
    background-position: center;
}

.navbar-triangle {
    position: absolute;
    right: 0;
    top: 0;
    width: 60px; /* Ajuste la largeur du triangle */
    height: 100%; /* Assure que le triangle couvre toute la hauteur de la navbar */
    background-image: url('/src/assets/navbar/triangle_grey.png'); /* Ajoute l'image en fond */
    background-size: cover; /* Assure que l'image couvre bien la zone */
    background-position: center; /* Centre l'image */
    transition: transform 0.8s ease-in-out;
    opacity:0.7;
}


/* Contenu */
.navbar-content {
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
    width: 100%;
    position: relative;
}



/* Menu */
.menu {
    display: flex;
    justify-content: center; /* Centre les éléments du menu horizontalement */
    flex-grow: 1;
    gap: 20px; /* Espacement entre les liens */
}

    /* Liens du menu */
    .menu a {
        color: #ddd;
        margin: 0 15px;
        text-decoration: none;
        transition: color 0.3s;
        font-weight: bold;
        font-size: 20px;
    }

        .menu a:hover {
            color: #fff;
        }
