.coffee-animation {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-coffee-image {
    width: 100%;
    height: auto;
}
